.card {
    width: 400px;
    height: 650px;
    background-color: burlywood;
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: space-between; /* Растягивание элементов по вертикали */
    padding: 20px; /* Добавление отступов */
}

.photo {
    width: 100%; /* Полная ширина контейнера */
    padding: 20px; /* Внутренний отступ */
    display: flex;
    justify-content: center; /* Центрирование изображения по горизонтали */
    align-items: center; /* Центрирование изображения по вертикали */
}

.info {
    width: 100%; /* Полная ширина контейнера */
    padding: 20px; /* Внутренний отступ */
    text-align: center; /* Центрирование текста */
}

img {
    max-width: 100%; /* Ограничение ширины изображения */
    border-radius: 50px;
}